

<nav id="navigation" class="navbar navbar-default navbar-fixed-top navbar-2" role="navigation">
    <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header nav-logo">
            <%= link_to home_path do %><%= image_tag("logo_no_bg.gif", height: '30')%><% end %> 
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to about_us_index_path, :class => active?('about_us') do %>Who We Are<% end %></li>
                <li><%= link_to community_partner_index_path, :class => active?('community_partner') do %>Community Partners<% end %></li>
                <li><%= link_to volunteers_index_path, :class => active?('volunteers') do %>Volunteer<% end %></li>
                <li><a href="#supporters">Supporters</a></li>
                <li><%= link_to contact_us_index_path, :class => active?('contact_us') do %>Contact Us<% end %></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>


